:root {
  --sheet-banner-display: none;
  --sheet-video-display: none;
  --sheet-background: #040611;
  --sheet-button: #71059b;
  --sheet-button-dark: #4c0080;
  --sheet-button-light: #9d00da;
  --sheet-primary: #71059b;
  --sheet-primary-dark: #4c0080;
  --sheet-primary-light: #9d00da;
}

.theme-default {
  --sheet-background: #040611;
  --sheet-button: #71059b;
  --sheet-button-dark: #4c0080;
  --sheet-button-light: #9d00da;
  --sheet-primary: #71059b;
  --sheet-primary-dark: #4c0080;
  --sheet-primary-light: #9d00da;
}

.theme-neutral {
  --sheet-background: #000000;
  --sheet-button: #737373;
  --sheet-button-dark: #4c4c4c;
  --sheet-button-light: #999999;
  --sheet-primary: #737373;
  --sheet-primary-dark: #4c4c4c;
  --sheet-primary-light: #999999;
}

.theme-jade {
  --sheet-background: #061104;
  --sheet-primary: #0b9004;
  --sheet-primary-dark: #007200;
  --sheet-primary-light: #00d900;
  --sheet-primary: #0b9004;
  --sheet-primary-dark: #007200;
  --sheet-primary-light: #00d900;
}

.theme-sapphire {
  --sheet-background: #070d27;
  --sheet-button: #093d9f;
  --sheet-button-dark: #062b6f;
  --sheet-button-light: #0d51cf;
  --sheet-primary: #093d9f;
  --sheet-primary-dark: #062b6f;
  --sheet-primary-light: #0d51cf;
}

.theme-pink {
  --sheet-background: #290218;
  --sheet-button: #9f095c;
  --sheet-button-dark: #7c0747;
  --sheet-button-light: #c40b6f;
  --sheet-primary: #9f095c;
  --sheet-primary-dark: #7c0747;
  --sheet-primary-light: #c40b6f;
}

.theme-turquoise {
  --sheet-background: #011818;
  --sheet-button: #099f98;
  --sheet-button-dark: #077d76;
  --sheet-button-light: #0dc2be;
  --sheet-primary: #099f98;
  --sheet-primary-dark: #077d76;
  --sheet-primary-light: #0dc2be;
}

.theme-ruby {
  --sheet-background: #180101;
  --sheet-button: #9f0909;
  --sheet-button-dark: #7c0707;
  --sheet-button-light: #c40b0b;
  --sheet-primary: #9f0909;
  --sheet-primary-dark: #7c0707;
  --sheet-primary-light: #c40b0b;
}

.theme-citrine {
  --sheet-background: #181601;
  --sheet-button: #a28517;
  --sheet-button-dark: #7c6d0f;
  --sheet-button-light: #d3b02b;
  --sheet-primary: #a28517;
  --sheet-primary-dark: #7c6d0f;
  --sheet-primary-light: #d3b02b;
}

.theme-orange {
  --sheet-background: #240c02;
  --sheet-button: #b64601;
  --sheet-button-dark: #8f3a01;
  --sheet-button-light: #d24f01;
  --sheet-primary: #b64601;
  --sheet-primary-dark: #8f3a01;
  --sheet-primary-light: #d24f01;
}

.theme-darkgreen {
  --sheet-background: #222603;
  --sheet-button: #80a41f;
  --sheet-button-dark: #668a17;
  --sheet-button-light: #9dbf2b;
  --sheet-primary: #80a41f;
  --sheet-primary-dark: #668a17;
  --sheet-primary-light: #9dbf2b;
}

.theme-lightblue {
  --sheet-background: #091e2b;
  --sheet-button: #147aad;
  --sheet-button-dark: #0f5f7f;
  --sheet-button-light: #1f9ed1;
  --sheet-primary: #147aad;
  --sheet-primary-dark: #0f5f7f;
  --sheet-primary-light: #1f9ed1;
}

.theme-wine {
  --sheet-background: #120008;
  --sheet-button: #952847;
  --sheet-button-dark: #6f1f38;
  --sheet-button-light: #ce184c;
  --sheet-primary: #952847;
  --sheet-primary-dark: #6f1f38;
  --sheet-primary-light: #ce184c;
}

.theme-purple {
  --sheet-background: #1a0323;
  --sheet-button: #52279e;
  --sheet-button-dark: #3f1b6f;
  --sheet-button-light: #7f3ed0;
  --sheet-primary: #57279e;
  --sheet-primary-dark: #3f1b6f;
  --sheet-primary-light: #7f3ed0;
}

/*
 * Banner Themes
 */

/* Sakura */
.theme-sakura {
  --sheet-banner-display: block;
  --sheet-background: linear-gradient(180deg,
      rgba(124, 27, 48, 1) 0%,
      rgba(6, 79, 95, 1) 100%);
  --sheet-button: #c83f85;
  --sheet-button-dark: #a32f6b;
  --sheet-button-light: #e14f9b;
  --sheet-primary: #c83f85;
  --sheet-primary-dark: #a32f6b;
  --sheet-primary-light: #e14f9b;
}

/* Quicksilver */
.theme-quicksilver {
  --sheet-banner-display: block;
  --sheet-background: linear-gradient(180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(35, 51, 60, 1) 100%);
  --sheet-button: linear-gradient(180deg,
      rgba(19, 19, 19, 1) 0%,
      rgba(75, 89, 97, 1) 100%);
  --sheet-button-dark: linear-gradient(180deg,
      rgba(19, 19, 19, 0.6) 0%,
      rgba(75, 89, 97, 0.6) 100%);
  --sheet-button-light: linear-gradient(180deg,
      rgba(19, 19, 19, 0.3) 0%,
      rgba(75, 89, 97, 0.3) 100%);
  --sheet-primary: #697c87;
  --sheet-primary-dark: #4b5961;
  --sheet-primary-light: #131313;
}

/* Nebula */
.theme-nebula {
  --sheet-banner-display: block;
  --sheet-background: linear-gradient(180deg,
      rgba(113, 71, 124, 1) 0%,
      rgba(11, 4, 17, 1) 100%);
  --sheet-button: linear-gradient(240deg,
      rgba(113, 71, 124, 1) 0%,
      rgba(28, 25, 29, 1) 100%);
  --sheet-button-dark: linear-gradient(240deg,
      rgba(113, 71, 124, 0.6) 0%,
      rgba(28, 25, 29, 0.6) 100%);
  --sheet-button-light: linear-gradient(240deg,
      rgba(113, 71, 124, 0.3) 0%,
      rgba(28, 25, 29, 0.3) 100%);
  --sheet-primary: #71477c;
  --sheet-primary-dark: #2f1c37;
  --sheet-primary-light: #161616;
}

/* Max Strike */
.theme-maxstrike {
  --sheet-banner-display: block;
  --sheet-background: #000000;
  --sheet-button: #737373;
  --sheet-button-dark: #4c4c4c;
  --sheet-button-light: #999999;
  --sheet-primary: #737373;
  --sheet-primary-dark: #4c4c4c;
  --sheet-primary-light: #999999;

  .skill-grid-items-item-roll {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #fb0094, #00f, #0f0,
          #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
      background-size: 400%;
      opacity: 0;
      filter: blur(20px);
      transition: 0.5s;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #fb0094, #00f, #0f0,
          #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
      background-size: 400%;
      opacity: 0;
      transition: 0.5s;
    }

    &:hover::before {
      /* &:hover::after { */
      opacity: 0.5;
      animation: animate 20s linear infinite;
    }
  }

  @keyframes animate {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 300% 0;
    }

    100% {
      background-position: 0 0;
    }
  }
}

/* Mark Y */
.theme-mark-y {
  --sheet-banner-display: block;
  --sheet-video-display: block;
  --sheet-background: #000;
  --sheet-button: #cda926;
  --sheet-button-dark: #cda926;
  --sheet-button-light: #cda926;
  --sheet-primary: #cda926;
  --sheet-primary-dark: #cda926;
  --sheet-primary-light: #cda926;

  .actor-sheet-banner,
  video.actor-sheet-video {
    display: none;
  }

  .rollableSkill,
  .rollableMeleeDamage,
  .rollableRangedDamage,
  .roll-location,
  .roll-hitlocations-button {
    color: #000 !important;
    border-top: 3px solid #dcc259;
    border-bottom: 3px solid #7b6514;

    &:hover {
      filter: brightness(0.6);
    }

    &:active {
      filter: brightness(1.2);
    }
  }

  .origin-icon,
  .skill-grid-items-item-roll-icon,
  .roll-location-icon,
  .hit-locations-roll-location-icon,
  .weapon-list-items-item-content-bottom-roll-icon {
    filter: invert(1);
  }
}

/* Mark B */
.theme-mark-b {
  --sheet-banner-display: block;
  --sheet-video-display: block;
  --sheet-background: #000;
  --sheet-button: #1b61b2;
  --sheet-button-dark: #1b61b2;
  --sheet-button-light: #1b61b2;
  --sheet-primary: #1b61b2;
  --sheet-primary-dark: #1b61b2;
  --sheet-primary-light: #1b61b2;

  .actor-sheet-banner,
  video.actor-sheet-video {
    display: none;
  }

  .rollableSkill,
  .rollableMeleeDamage,
  .rollableRangedDamage,
  .roll-location,
  .roll-hitlocations-button {
    color: #000 !important;
    border-top: 3px solid #5a8fc9;
    border-bottom: 3px solid #0d3561;

    &:hover {
      filter: brightness(0.6);
    }

    &:active {
      filter: brightness(1.2);
    }
  }

  .origin-icon,
  .skill-grid-items-item-roll-icon,
  .roll-location-icon,
  .hit-locations-roll-location-icon,
  .weapon-list-items-item-content-bottom-roll-icon {
    filter: invert(1);
  }
}

/* Ghoul */
.theme-ghoul {
  --sheet-banner-display: block;
  --sheet-video-display: block;
  --sheet-background: #000;
  --sheet-button: #000;
  --sheet-button-dark: #d20a00;
  --sheet-button-light: #721a09;
  --sheet-primary: #000;
  --sheet-primary-dark: #d20a00;
  --sheet-primary-light: #d20a00;

  .rollableSkill,
  .rollableMeleeDamage,
  .rollableRangedDamage,
  .roll-location,
  .roll-hitlocations-button {
    border-top: 1px solid #fff;
  }
}

/* Sobrenatural */
.theme-sobrenatural {
  --sheet-banner-display: block;
  --sheet-background: linear-gradient(to bottom, #000000 30%, #460004 100%);
  --sheet-button: #801704;
  --sheet-button-dark: #000;
  --sheet-button-light: #fff;
  --sheet-primary: #801704;
  --sheet-primary-dark: #000;
  --sheet-primary-light: #fff;
}

/* Frutiger */
.theme-frutiger {
  --sheet-banner-display: block;
  --sheet-background: linear-gradient(to bottom,
      #3c5c08 25%,
      #3c5c08 30%,
      #01518d 100%);
  --sheet-primary: #106ecf;
  --sheet-primary-dark: #0a4e8c;
  --sheet-primary-light: #3fa9ff;

  /* Avatar */
  .actor-sheet-header-avatar {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-radius: 13px;
      width: 90%;
      height: 13px;
      background: linear-gradient(to bottom,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(255, 255, 255, 0.1) 100%);
      opacity: 60%;
      transform: translateX(-50%);
      pointer-events: none;
    }
  }

  /* Characteristics */
  .actor-characteristic {
    position: relative;
    border: 1px solid var(--cha-border-color);
    background:
      radial-gradient(50% 20% at 50% 100%,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.0) 100%),
      linear-gradient(to bottom,
        var(--cha-bg-start-color) 0%,
        var(--cha-bg-end-color) 100%) !important;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-radius: 8px;
      width: calc(100% - 15px);
      height: 8px;
      background: linear-gradient(to bottom,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(255, 255, 255, 0.1) 100%);
      opacity: 60%;
      transform: translateX(-50%);
      pointer-events: none;
    }

    &[data-characteristic="str"] {
      --cha-border-color: #732214;
      --cha-bg-start-color: #450404;
      --cha-bg-end-color: #961818;
    }

    &[data-characteristic="con"] {
      --cha-border-color: #5e310d;
      --cha-bg-start-color: #451504;
      --cha-bg-end-color: #963918;
    }

    &[data-characteristic="siz"] {
      --cha-border-color: #166938;
      --cha-bg-start-color: #044529;
      --cha-bg-end-color: #18965f;
    }

    &[data-characteristic="dex"] {
      --cha-border-color: #43690f;
      --cha-bg-start-color: #2c4504;
      --cha-bg-end-color: #659618;
    }

    &[data-characteristic="int"] {
      --cha-border-color: #0d3f69;
      --cha-bg-start-color: #042545;
      --cha-bg-end-color: #185d96;
    }

    &[data-characteristic="pow"] {
      --cha-border-color: #500d6c;
      --cha-bg-start-color: #300445;
      --cha-bg-end-color: #721896;
    }

    &[data-characteristic="cha"] {
      --cha-border-color: #5e1c2b;
      --cha-bg-start-color: #45041e;
      --cha-bg-end-color: #96184a;
    }

    label {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8) !important;
      opacity: 1.0 !important;
    }
  }

  /* Derived Stats */
  .actor-derived-stat {
    position: relative;
    border: 1px solid var(--stat-border-color, #616161);
    background:
      radial-gradient(50% 20% at 50% 100%,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.0) 100%),
      linear-gradient(to bottom,
        var(--stat-bg-start-color, #404040) 0%,
        var(--stat-bg-end-color, #8a8a8a) 100%) !important;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-radius: 8px;
      width: calc(100% - 15px);
      height: 8px;
      background: linear-gradient(to bottom,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(255, 255, 255, 0.1) 100%);
      opacity: 60%;
      transform: translateX(-50%);
      pointer-events: none;
    }

    &[data-stat="actionPoints"],
    &[data-stat="initiativeBonus"] {
      border: none !important;
      background: radial-gradient(49.49% 20.21% at 50.35% 100%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(270deg, #41A9FF 0.31%, #41A9FF 25.12%, #ACFF38 74.73%, #ACFF38 99.53%) !important;
    }

    &[data-stat="damageMod"] {
      background: radial-gradient(49.49% 20.21% at 50.35% 100%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(270deg, #6DB18D 0%, #6DB18D 25%, #FF2530 75%, #FF2530 100%) !important;
    }

    &[data-stat="experienceMod"] {
      --stat-border-color: #700e36;
      background: radial-gradient(49.49% 20.21% at 50.35% 100%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #45041E 0%, #96184A 100%) !important;
    }

    &[data-stat="healingRate"] {
      --stat-border-color: #5e310d;
      background: radial-gradient(49.49% 20.21% at 50.35% 100%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #451504 0%, #963918 100%) !important;
    }

    &[data-stat="luckPoints"],
    &[data-stat="magicPoints"] {
      --stat-border-color: #500d6c;
      background: radial-gradient(49.49% 20.21% at 50.35% 100%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #300445 0%, #721896 100%) !important;
    }

    label {
      color: #fff !important;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }
  }

  /* Buttons */
  .rollableSkill,
  .rollableMeleeDamage,
  .rollableRangedDamage,
  .roll-location,
  .roll-hitlocations-button {
    position: relative;
    border: 1px solid #477407;
    background:
      radial-gradient(50% 50% at 50% 100%,
        rgba(255, 255, 255, 1.0) 0%,
        rgba(255, 255, 255, 0.0) 100%),
      linear-gradient(to bottom,
        rgba(63, 98, 6, 0.75) 0%,
        rgba(130, 177, 54, 0.8) 100%) !important;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease;
    overflow-y: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-radius: 12px;
      width: calc(100% - 15px);
      height: 12px;
      background: linear-gradient(to bottom,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(255, 255, 255, 0.1) 100%);
      opacity: 60%;
      transform: translateX(-50%) translateY(0);
      pointer-events: none;
      transition: all 0.2s ease;
    }

    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
      transform: translateY(-2px);

      &::after {
        transform: translateX(-50%) translateY(1px);
      }
    }

    &:active {
      filter: brightness(0.9);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      transform: translateY(1px);

      &::after {
        transform: translateX(-50%) translateY(-1px);
      }
    }
  }
}

/* Claymation */
.theme-claymation {
  --sheet-banner-display: block;
  --sheet-background: linear-gradient(to bottom,
      #080c0c 25%,
      #080c0c 30%,
      #125a5e 100%);
  --sheet-primary: #08af88;
  --sheet-primary-dark: #066b5e;
  --sheet-primary-light: #3fffe1;

  .rollableSkill,
  .rollableMeleeDamage,
  .rollableRangedDamage,
  .roll-location,
  .roll-hitlocations-button {
    background: #378472 !important;
    box-shadow:
      inset 0 2px 4px rgba(255, 255, 255, 0.4),
      inset 0 -2px 4px rgba(0, 0, 0, 0.6) !important;

    /* Hover and active states for a clay-like effect */
    &:hover {
      background: #4aa99e !important;
      box-shadow:
        inset 0 2px 4px rgba(255, 255, 255, 0.5),
        inset 0 -2px 4px rgba(0, 0, 0, 0.7) !important;
      transform: translateY(-1px);
    }

    &:active {
      background: #2e6b6f !important;
      box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.3),
        inset 0 -1px 2px rgba(0, 0, 0, 0.5) !important;
      transform: translateY(1px);
    }
  }
}

/* Cinnamon */
.theme-cinnamon {
  --sheet-banner-display: block;
  --sheet-background: linear-gradient(to bottom,
      #000000 30%,
      #340306 100%);
  --sheet-button: linear-gradient(to bottom,
      #825469 0%,
      #4d0004 100%);
  --sheet-button-dark: var(--sheet-button);
  --sheet-button-light: var(--sheet-button);
  --sheet-primary: #9a4f61;
  --sheet-primary-dark: #6e3640;
  --sheet-primary-light: #c55c72;
}

/* Davies */
@keyframes davies-vibrate {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-1px, 1px);
  }

  40% {
    transform: translate(-1px, -1px);
  }

  60% {
    transform: translate(1px, 1px);
  }

  80% {
    transform: translate(1px, -1px);
  }

  100% {
    transform: translate(0);
  }
}

.theme-davies {
  --sheet-banner-display: block;
  --sheet-video-display: block;
  --sheet-background: #000;
  --sheet-primary: #000;
  --sheet-primary-dark: #000;
  --sheet-primary-light: #fff;

  .actor-sheet-banner {
    display: none;
  }

  .actor-sheet-tabs-content,
  .combat-left,
  .combat-left-content {
    overflow: visible !important;
  }

  .rollableSkill,
  .rollableMeleeDamage,
  .rollableRangedDamage,
  .roll-location,
  .roll-hitlocations-button {
    background-image: linear-gradient(to left,
        #000 47%,
        #2d0216 67%,
        #043745 100%) !important;
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 0 0px 5px rgba(255, 255, 255, 0.5),
        -5px 0 10px rgba(0, 162, 255, 0.5),
        5px 0 10px rgba(193, 36, 107, 0.5) !important;
      animation: davies-vibrate 0.15s infinite;
    }

    &:active {
      box-shadow: none !important;
      animation: none;
      transform: translateY(1px);
    }
  }
}

/* Wireframe */
.theme-wireframe {
  --sheet-banner-display: block;
  --sheet-background: linear-gradient(to bottom,
      #4e0d2d 0%,
      #1d021f 100%);
  --sheet-button: linear-gradient(to bottom,
      #902459 0%,
      #1d021f 100%);
  --sheet-button-dark: var(--sheet-button);
  --sheet-button-light: var(--sheet-button);
  --sheet-primary: #c90867;
  --sheet-primary-dark: #8a064a;
  --sheet-primary-light: #ff0b81;

  .actor-sheet-header-card-info,
  .actor-sheet-header-card-fatigue {
    position: relative;
    backdrop-filter: none !important;
  }

  .rollableSkill,
  .rollableMeleeDamage,
  .rollableRangedDamage,
  .roll-location,
  .roll-hitlocations-button {
    &:hover {
      filter: brightness(1.2);
    }

    &:active {
      filter: brightness(0.8);
    }
  }
}

/* Storm */
.theme-storm {
  --sheet-banner-display: block;
  --sheet-background: linear-gradient(to bottom,
      #000000 0%,
      #081746 100%);
  --sheet-button: #3643d4;
  --sheet-button-dark: #2a33a3;
  --sheet-button-light: #4e5ff6;
  --sheet-primary: #3643d4;
  --sheet-primary-dark: #2a33a3;
  --sheet-primary-light: #4e5ff6;

  .actor-sheet-header-card-info,
  .actor-sheet-header-card-fatigue {
    position: relative;
    backdrop-filter: none !important;
  }
}

/* Xen */
.theme-xen {
  --sheet-banner-display: block;
  --sheet-video-display: block;
  --sheet-background: #000;
  --sheet-primary: #5f34c5;
  --sheet-primary-dark: #5f34c5;
  --sheet-primary-light: #5f34c5;

  .actor-sheet-banner {
    display: none;
  }

  .actor-sheet-tabs-content,
  .combat-left,
  .combat-left-content {
    overflow: visible !important;
  }

  .rollableSkill,
  .rollableMeleeDamage,
  .rollableRangedDamage,
  .roll-location,
  .roll-hitlocations-button {
    background-image: linear-gradient(to right,
        #50235c 0%,
        #145a8b 100%) !important;
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 10px 0 10px rgba(51, 142, 212, 0.6),
        -10px 0 10px rgba(198, 109, 242, 0.6) !important;
    }

    &:active {
      box-shadow: 15px 0 10px rgba(51, 142, 212, 0.9),
        -15px 0 10px rgba(198, 109, 242, 0.9) !important;
    }
  }
}

/* Settings Section */
.settings-section--theme {
  .settings-section-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: min-content;
    gap: 10px;
    width: 100%;

    .theme-select-loading {
      column-span: all;
      font-size: 100%;
      font-weight: 500;
      text-align: center;
      color: #999;
    }

    .theme-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border-width: 4px;
      border-style: solid;
      font-size: 120%;
      font-weight: 500;
      height: 50px;
      cursor: pointer;

      &:hover {
        text-shadow: none !important;
      }

      &--unavailable {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &[data-theme="default"] {
        border-color: #71059b;
        color: #9d00da;
        background: #040611;

        &:hover {
          color: #fff;
          background: #71059b;
        }
      }

      &[data-theme="neutral"] {
        border-color: #737373;
        color: #999999;
        background: #000000;

        &:hover {
          color: #fff;
          background: #737373;
        }
      }

      &[data-theme="jade"] {
        border-color: #0B9004;
        color: #00d900;
        background: #061104;

        &:hover {
          color: #fff;
          background: #0B9004;
        }
      }

      &[data-theme="sapphire"] {
        border-color: #093D9F;
        color: #0d51cf;
        background: #070D27;

        &:hover {
          color: #fff;
          background: #093D9F;
        }
      }

      &[data-theme="pink"] {
        border-color: #9F095C;
        color: #c40b6f;
        background: #290218;

        &:hover {
          color: #fff;
          background: #9F095C;
        }
      }

      &[data-theme="turquoise"] {
        border-color: #099f98;
        color: #0dc2be;
        background: #011818;

        &:hover {
          color: #fff;
          background: #099f98;
        }
      }

      &[data-theme="ruby"] {
        border-color: #9F0909;
        color: #c40b0b;
        background: #180101;

        &:hover {
          color: #fff;
          background: #9F0909;
        }
      }

      &[data-theme="citrine"] {
        border-color: #b6961e;
        color: #d3b02b;
        background: #181601;

        &:hover {
          color: #fff;
          background: #b6961e;
        }
      }

      &[data-theme="orange"] {
        border-color: #b64601;
        color: #d24f01;
        background: #240c02;

        &:hover {
          color: #fff;
          background: #b64601;
        }
      }

      &[data-theme="darkgreen"] {
        border-color: #80a41f;
        color: #9dbf2b;
        background: #222603;

        &:hover {
          color: #fff;
          background: #80a41f;
        }
      }

      &[data-theme="lightblue"] {
        border-color: #147aad;
        color: #1f9ed1;
        background: #031d26;

        &:hover {
          color: #fff;
          background: #147aad;
        }
      }

      &[data-theme="wine"] {
        border-color: #952847;
        color: #ce184c;
        background: #120008;

        &:hover {
          color: #fff;
          background: #952847;
        }
      }

      &[data-theme="purple"] {
        border-color: #7f3ed0;
        color: #57279e;
        background: #1a0323;

        &:hover {
          color: #fff;
          background: #7f3ed0;
        }
      }

      &[data-theme="sakura"] {
        border-color: #c54285;
        background: linear-gradient(180deg,
            rgb(200, 63, 133) 0%,
            rgb(34, 141, 170) 100%);
        color: #e14f9b;
        text-shadow: 0 0 5px rgb(34, 141, 170);

        &:hover {
          border-color: #c54285;
          color: #fff;
          background: #c54285;
        }
      }

      &[data-theme="quicksilver"] {
        border-color: #697c87;
        background: linear-gradient(180deg,
            rgba(0, 0, 0, 1) 0%,
            rgb(106, 124, 134) 100%);
        color: #697c87;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

        &:hover {
          border-color: #697c87;
          color: #fff;
          background: #697c87;
        }
      }

      &[data-theme="nebula"] {
        background: linear-gradient(180deg,
            rgb(182, 115, 198) 0%,
            rgba(11, 4, 17, 1) 100%);
        color: #b773c7;
        text-shadow: 0 0 5px rgba(11, 4, 17, 1);

        &:hover {
          border-color: #b773c7;
          color: #fff;
          background: #b773c7;
        }
      }

      &[data-theme="maxstrike"] {
        border-color: #737373;
        color: #999999;
        background: #000000;

        &:hover {
          color: #fff;
          background: #737373;
        }
      }

      &[data-theme="mark-y"] {
        border-top-color: #dcc259;
        border-left-color: #dcc259;
        border-bottom-color: #7b6514;
        border-right-color: #7b6514;
        color: #000;
        background: #cda926;

        &:hover {
          filter: brightness(0.8);
        }
      }

      &[data-theme="mark-b"] {
        border-top-color: #5a8fc9;
        border-left-color: #5a8fc9;
        border-bottom-color: #0d3561;
        border-right-color: #0d3561;
        color: #000;
        background: #1b61b2;

        &:hover {
          filter: brightness(0.8);
        }
      }

      &[data-theme="ghoul"] {
        border-color: #000;
        border-top-color: #fff;
        color: #cc1900;
        background: #000;

        &:hover {
          color: #000;
          background: #cc1900;
        }
      }

      &[data-theme="sobrenatural"] {
        border-color: #801704;
        color: #801704;
        background: linear-gradient(to bottom, #000000 30%, #801704 100%);

        &:hover {
          color: #000;
          background: #801704;
        }
      }

      &[data-theme="frutiger"] {
        position: relative;
        border-color: #477407;
        color: #fff;
        background:
          radial-gradient(50% 50% at 50% 100%,
            rgba(255, 255, 255, 1.0) 0%,
            rgba(255, 255, 255, 0.0) 100%),
          linear-gradient(to bottom,
            rgba(63, 98, 6, 0.75) 0%,
            rgba(130, 177, 54, 0.8) 100%);
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
        transition: all 0.2s ease;

        &:hover {
          filter: brightness(1.1);
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
          transform: translateY(-2px);
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          border-radius: 12px;
          width: calc(100% - 15px);
          height: 12px;
          background: linear-gradient(to bottom,
              rgba(255, 255, 255, 0.8) 0%,
              rgba(255, 255, 255, 0.1) 100%);
          opacity: 60%;
          transform: translateX(-50%);
          pointer-events: none;
        }
      }

      &[data-theme="claymation"] {
        border-color: #378472;
        color: #fff;
        background: #378472;
        box-shadow:
          inset 0 2px 4px rgba(255, 255, 255, 0.4),
          inset 0 -2px 4px rgba(0, 0, 0, 0.6);

        &:hover {
          background: #4aa99e;
          box-shadow: unset;
        }
      }

      &[data-theme="cinnamon"] {
        border-color: #825469;
        background: linear-gradient(to bottom,
            #825469 0%,
            #4d0004 100%);
        color: #ffb6b6;
        text-shadow: 0 0 5px #4d0004;

        &:hover {
          border-color: #825469;
          color: #fff;
          background: #825469;
        }
      }

      &[data-theme="davies"] {
        border-color: #000;
        color: #fff;
        background: linear-gradient(to left,
            #000 47%,
            #2d0216 67%,
            #043745 100%);

        &:hover {
          box-shadow: 0 0px 5px rgba(255, 255, 255, 0.5),
            -5px 0 10px rgba(0, 162, 255, 0.5),
            5px 0 10px rgba(193, 36, 107, 0.5);
          animation: davies-vibrate 0.15s infinite;
        }

        &:active {
          box-shadow: none;
          animation: none;
          transform: translateY(1px);
        }
      }

      &[data-theme="wireframe"] {
        border-color: #902459;
        color: #dc3788;
        background: linear-gradient(to bottom,
            #902459 0%,
            #1d021f 100%);

        &:hover {
          color: #fff;
          background: #902459;
        }
      }

      &[data-theme="storm"] {
        border-color: #3643d4;
        color: #325fff;
        background: linear-gradient(to bottom,
            #3643d4 0%,
            #081746 100%);
        text-shadow: 0 0 5px #081746;

        &:hover {
          color: #fff;
          background: #3643d4;
        }
      }

      &[data-theme="xen"] {
        border-color: #50235c;
        color: #b173d1;
        background: linear-gradient(to right,
            #50235c 0%,
            #145a8b 100%);
        text-shadow: 0 0 5px #145a8b;

        &:hover {
          box-shadow: 10px 0 10px rgba(51, 142, 212, 0.6),
            -10px 0 10px rgba(198, 109, 242, 0.6);
        }

        &:active {
          box-shadow: 15px 0 10px rgba(51, 142, 212, 0.9),
            -15px 0 10px rgba(198, 109, 242, 0.9);
        }
      }

      &[data-theme^="placeholder"] {
        border-color: transparent;
        color: #fff;
        background: rgba(0, 0, 0, 0.15);
        cursor: default !important;
      }
    }
  }
}

.theme-default .theme-button[data-theme="default"],
.theme-neutral .theme-button[data-theme="neutral"],
.theme-jade .theme-button[data-theme="jade"],
.theme-sapphire .theme-button[data-theme="sapphire"],
.theme-pink .theme-button[data-theme="pink"],
.theme-turquoise .theme-button[data-theme="turquoise"],
.theme-ruby .theme-button[data-theme="ruby"],
.theme-citrine .theme-button[data-theme="citrine"],
.theme-orange .theme-button[data-theme="orange"],
.theme-darkgreen .theme-button[data-theme="darkgreen"],
.theme-lightblue .theme-button[data-theme="lightblue"],
.theme-wine .theme-button[data-theme="wine"],
.theme-purple .theme-button[data-theme="purple"],
.theme-sakura .theme-button[data-theme="sakura"],
.theme-quicksilver .theme-button[data-theme="quicksilver"],
.theme-nebula .theme-button[data-theme="nebula"],
.theme-maxstrike .theme-button[data-theme="maxstrike"],
.theme-ghoul .theme-button[data-theme="ghoul"],
.theme-sobrenatural .theme-button[data-theme="sobrenatural"],
.theme-frutiger .theme-button[data-theme="frutiger"],
.theme-claymation .theme-button[data-theme="claymation"],
.theme-cinnamon .theme-button[data-theme="cinnamon"],
.theme-davies .theme-button[data-theme="davies"],
.theme-wireframe .theme-button[data-theme="wireframe"],
.theme-storm .theme-button[data-theme="storm"],
.theme-xen .theme-button[data-theme="xen"] {
  border-color: var(--sheet-primary-dark) !important;
  color: #fff !important;
  background: var(--sheet-primary) !important;
  box-shadow: none !important;

  &::after {
    display: none !important;
  }
}
